APScheduler==3.10.4
asgiref==3.8.1
astroid==3.2.2
certifi==2024.2.2
charset-normalizer==3.3.2
dill==0.3.8
Django==5.0.6
django-allauth==0.63.2
django-background-tasks==1.2.5
django-compat==1.0.15
django-simple-history==3.7.0
django_csp==3.8
gunicorn==22.0.0
idna==3.7
isort==5.13.2
jedi==0.19.1
mccabe==0.7.0
packaging==24.0
parso==0.8.4
platformdirs==4.2.2
pylint==3.2.2
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.2
six==1.16.0
sqlparse==0.5.0
tomli==2.0.1
tomlkit==0.12.5
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.1